<div class="header fluid-container">
  <div class="visible-sm visible-xs topbar">
    <div class="logo">
      <a href="http://jonost.me/">
        <span class="char1">J</span>
        <span class="char2">D</span>
        <span class="char3">O</span>
      </a>
    </div>
    <a class="site-title" href="{{site.baseurl}}">{{site.title}}</a>
    <div class="site-description">{{site.description}}</div>
  </div>
  <div class="hidden-sm hidden-xs sidebar col-md-3">
    <div class="logo">
      <a href="http://jonost.me/">
        <span class="char1">J</span>
        <span class="char2">D</span>
        <span class="char3">O</span>
      </a>
    </div>
    <a class="site-title" href="{{site.baseurl}}">{{site.title}}</a>
    <div class="site-description">{{site.description}}</div>
  </div>
</div>